html 
head 
    title form data 
body 
    form(action='/', method='POST')
        div 
            label(for='name') Name: 
            input(name='name' value='hello')
        br
        div 
            label(for="Email") Email: 
            input(name="Email" value="abc@gmail.com")
        br
        button(type="submit") Send Data
